/* ------------------ */
/* GLOBAL RULES */
/* ------------------ */
* {
  box-sizing: border-box;
}

:root {
  --dark-grey: #333333;
  --light-grey: #e0e0e0f5;
  --grey-nav-hover: #f2f2f2;
  --salmon-trip: #fe5d5d;
  --green-trip: #09a96c;
  --lighter-green: #34e0a1;
  --footer-color: #f9f1ec;
  --golden-picto: #f1b202;
}

body {
  font-family: "Trip Sans Reg", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 25px;
}

/* Titles */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Trip Sans Med", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 54px;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 25px;
}

h1 span {
  color: var(--salmon-trip);
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
  margin-bottom: 25px;
}

h5 {
  font-size: 18px;
  margin: 8px 0;
}

/* Paragraphs */

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 24px;
}

/* Links */
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* Images */
img {
  object-fit: cover;
}

/* Nav */
nav {
  display: flex;
  cursor: pointer;
}

nav span {
  font-family: "Trip Sans Med", Arial, Helvetica, sans-serif;
}

/* Buttons */
button {
  border: none;
  padding: 12px 15px;
  background-color: black;
  color: white;
  font-family: "Trip Sans Med", Arial, Helvetica, sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}

button:hover {
  background-color: var(--dark-grey);
}

/* Sections */
section {
  margin: 75px 0;
}

/* Carrousels */
.carrousel {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carrousel::-webkit-scrollbar {
  display: none;
}

.picture-carrousel {
  position: relative;
}

.carrousel-element {
  flex-shrink: 0;
}

.carrousel-element:hover h5 {
  text-decoration: underline;
  color: var(--dark-grey);
}

.carrousel-element:hover .picture-carrousel > img {
  opacity: 0.8;
}

.carrousel .heart {
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
}

.must-see .carrousel .green-picto,
.green-picto {
  background-color: var(--lighter-green);
  height: 42px;
  width: 31px;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 5px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.must-see .carrousel .green-picto img,
.green-picto img {
  width: 28px;
  height: 28px;
}

.must-see .carrousel .green-picto span,
.green-picto span {
  font-family: "Trip Sans Med", Arial, Helvetica, sans-serif;
  padding-right: 4px;
}

.carrousel .notation i {
  margin-right: 2px;
  color: var(--green-trip);
}

.carrousel i,
.carrousel span {
  font-size: 12px;
}

.carrousel span {
  margin-left: 5px;
  color: var(--dark-grey);
}

.carrousel p {
  color: var(--dark-grey);
  font-size: 14px;
  margin-top: 8px;
}

.carrousel .heart i {
  font-size: 22px;
}

/* ------------------ */
/* HEADER */
/* ------------------ */
header {
  height: 50px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div {
  display: flex;
  align-items: center;
  width: 50%;
}

header > i:first-child,
header > i:last-child {
  display: none;
}

/* Left side of the header */
header img {
  width: 190px;
  margin-right: 25px;
}

.search-field {
  border: solid 2px var(--light-grey);
  border-radius: 10px;
  width: 75%;
}

.search-field i {
  font-size: 18px;
  margin: 10px;
}

.search-field input {
  border: none;
}

/* Right side of the header */
header nav div {
  padding: 10px 10px;
  margin: 0 5px;
}

header nav div:hover {
  border-radius: 20px;
  background-color: var(--grey-nav-hover);
}

header span {
  font-size: 18px;
}

/* ------------------ */
/* MAIN */
/* ------------------ */

main img:hover {
  opacity: 0.8;
}

/* Menu */
.menu div {
  border: solid 1px black;
  border-radius: 10px;
  line-height: 20px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.menu div:not(:last-child) {
  margin-right: 15px;
}

.menu div:hover {
  background-color: black;
  color: white;
}

.menu div:nth-child(7) {
  display: none;
}

.menu span {
  max-width: 80px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* City pictures */
.city-pic {
  display: flex;
  height: 430px;
  margin: 25px 0 25px 0;
}

.city-pic .main-city-pic {
  height: 100%;
  flex: 1;
  margin-right: 2px;
  position: relative;
}

.city-pic .small-city-pic {
  height: 100%;
  width: 480px;
}

.city-pic .main-city-pic img {
  height: 100%;
  width: 100%;
}

.city-pic .main-city-pic button {
  font-size: 12px;
  padding: 10px 5px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.city-pic .main-city-pic button i {
  margin-right: 5px;
  font-size: 14px;
}

.city-pic .small-city-pic img {
  height: calc(50% - 1px);
  width: 100%;
  display: block;
}

.city-pic .small-city-pic img:first-child {
  margin-bottom: 2px;
}

/* Nav country */
.nav-country {
  display: flex;
  justify-content: space-between;
}

.nav-country a {
  font-size: 12px;
  font-family: inherit;
  color: var(--dark-grey);
}

.nav-country a:hover {
  text-decoration: underline;
}

.nav-country i {
  margin-left: 5px;
}

.nav-country span {
  font-size: 12px;
  color: var(--dark-grey);
  font-family: inherit;
}

/* About City */
.about-city {
  margin-top: 45px;
  display: flex;
}

/* Infos city */
.about-city .infos-city {
  flex: 1;
  margin-right: 115px;
}

.about-city .infos-city p {
  font-size: 20px;

  color: var(--dark-grey);
  line-height: 24px;
}

/* Orga city */
.about-city {
  display: flex;
}

.infos-city {
  width: 50%;
  height: 100%;
}

.orga-city {
  width: calc(50% - 105px);
  height: 100%;
}

.about-city .orga-city > div {
  background-color: var(--salmon-trip);
  padding: 40px 35px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 275px;
}

.about-city .orga-city p {
  margin: 25px 0;
  font-family: "Trip Sans Reg", Arial, Helvetica, sans-serif;
  line-height: 20px;
}

.about-city .orga-city button {
  padding: 20px 15px;
}

.about-city .orga-city img {
  width: 100%;
  height: 190px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: block;
}

.about-city .orga-city img:hover {
  opacity: 1;
}

/* Must See */
.category {
  display: flex;
  margin-bottom: 110px;
}

.category > div:first-child {
  width: 25%;
  margin-right: 20px;
}

.category > div:first-child p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 22px;
}

.category > div:first-child a {
  background-color: #fff;
  padding: 0;
  font-size: 14px;
  color: black;
  font-family: "Trip Sans Med", Arial, Helvetica, sans-serif;
}

.category > div:first-child a:hover {
  text-decoration: underline;
  color: var(--dark-grey);
}

/* Carrousel */

.must-see .carrousel {
  width: 75%;
}

.must-see .carrousel-element {
  width: calc(100% / 3 - (40px / 3));
}

.must-see .carrousel-element:not(:last-child) {
  margin-right: 20px;
}

.must-see .carrousel img {
  width: 270px;
  height: 205px;
}

/* Accommodation & Choices sections*/

.accommodation .carrousel,
.choices .carrousel {
  width: 100%;
}

.accommodation .carrousel-element,
.choices div:nth-child(3) .carrousel-element {
  width: calc(100% / 3 - 10px);
}

.choices .carrousel-element {
  width: calc(100% / 4 - (45px / 4));
}

.accommodation .carrousel-element:not(:last-child),
.choices .carrousel-element:not(:last-child) {
  margin-right: 15px;
}

.accommodation img,
.choices img {
  width: 100%;
  height: 275px;
}

.accommodation .carrousel-element > i,
.choices .carrousel-element > i {
  color: var(--dark-grey);
  font-size: 3px;
}

.accommodation .carrousel-element > p,
.choices .carrousel-element > p {
  font-family: "Trip Sans Med", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.choices > div {
  margin-bottom: 90px;
}

.choices > div > div:first-child,
.accommodation > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.choices a,
.accommodation a {
  background-color: #fff;
  padding: 0;
  font-size: 14px;
  color: black;
  font-family: "Trip Sans Med", Arial, Helvetica, sans-serif;
}

.choices a:hover,
.accommodation a:hover {
  text-decoration: underline;
  color: var(--dark-grey);
}

/* ------------------ */
/* FOOTER */
/* ------------------ */

footer {
  margin-top: 85px;
  background-color: var(--footer-color);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div {
  display: flex;
  align-items: center;
}

footer img {
  width: 40px;
  margin: 0 20px;
}

footer p {
  font-size: 18px;
  color: var(--dark-grey);
  font-family: inherit;
}

footer a:hover {
  font-weight: bold;
  color: var(--lighter-green);
}
